{
	"extends": "@essex/eslint-config",
	"root": true,
	"rules": {
		"@typescript-eslint/no-unsafe-argument": "off",
		"@typescript-eslint/no-floating-promises": "off",
		"@typescript-eslint/require-await": "off"
	}
}